mt50 {
  margin-top: 10px;
}
.innerCont {
    margin: 0 auto;
    border: 1px solid black;
    padding:20px 10px;
}
.innerCont .imgArea {
    align-items: center;
}

.innerCont .imgArea .imgBox {
    width : 100%;
    position: relative;
    overflow: hidden;
}

.innerCont .imgBox.ReactCrop {
}

.innerCont .imgArea .btnBox {
    width : 100%;
}

.innerCont .imgArea .imgBox .ReactCrop__image {
    width: 100%;
    height: 100%;
}

.innerCont .optionArea {
    width: 100%;
}

.innerCont .optionArea .tagBox {
    margin-top: 40px;
    width : 100%;
    min-height:100px;
    max-height: 290px;
    overflow-y:auto;
    position: relative;
    border: 1px solid black;
}

.innerCont .btnBox {
    float: right;
    width : 10%;
    border: 1px solid black;
}

.btnBox button {
    word-break: keep-all;
}

.imgBox .tagItem {
    position: absolute;
    z-index: 100;
    line-height: 15px;
    height:15px;
    background-color: #61dafb;
}

.tagBox .tagItem {

}

.popArea {
    width: 80%;
    left:50%;
    top:100px;
    transform:translateX(-50%);
    position: absolute;
    background-color: #282c34;
}

.popCont {
    padding:20px;
}
.popCont input {
    padding:0;
    box-sizing:border-box;
    width: 100%;
    height: 40px;
}

.popArea .btnBox {
    margin-top:20px;
    text-align: center;
}
.popArea .btnBox button{
    height: 40px;
}
